<div class="container sign">
  <div class="form-img-bckg"><%= image_tag "Logo3.png" %></div>
  <br>
  <br>
  <br>
  <center>
    <h2>J'enrichis mon profil</h2>
  </center>
  <div class="form-sign">
    <%= simple_form_for @profile do |f| %>
      <%= f.input :nickname %>
      <%= f.input :first_name, prompt: "Prénom" %>
      <%= f.input :last_name, label: "Nom" %>
      <%= f.input :age %>
      <%= f.input :description %>
      <%= f.input :photo %>
      <%= f.button :submit, "Let's go GreenR", class: "EdgeButton--primary" %>
    <% end %>
  </div>
</div>
