<div class="container sign">
  <div class="form-img"><%= image_tag "Logo3.png" %></div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <center>
    <h2>Modifier <%= resource_name.to_s.humanize %></h2>
  </center>
  <div class="form-sign">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
        <%= f.input :password,
                hint: "Votre nouveau mot de passe",
                required: false,
                input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                hint: "Ressaisir votre nouveau mot de passe",
                required: false,
                input_html: { autocomplete: "new-password" } %>
        <%= f.input :current_password,
                hint: "Mot de passe actuel",
                required: true,
                input_html: { autocomplete: "current-password" } %>
        <center>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Mettre à jour" %>
        </div>
      </center>
    <% end %>
  </div>
</div>
