<div class="col-6 sm-3">
  <%= link_to activity_path(activity), class: "activity-link-show" do %>
    <div class="activity-card">
      <%= cl_image_tag activity.photo, class: "activity-pic" %>
      <div class="info-event">
        <h2><strong><%= activity.name %></strong></h2>
        <div>
          <p><%= activity.city %> (<%= activity.zipcode %>)</p>
        </div>
      </div>
    </div>
  <% end %>
</div>
