<div class="container sign">
  <div class="form-img"><%= image_tag "Logo3.png" %></div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <center>
    <h1>Je m'identifie</h1>
  </center>
  <div class="form-sign">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.input :email,
                required: true,
                placeholder: "nikolas.bulot@wegogreenr.com",
                autofocus: true,
                input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                label: "Mot de passe",
                placeholder: "******",
                required: true,
                input_html: { autocomplete: "current-password" } %>
      <%= f.input :remember_me, label: "Se souvenir de moi", as: :boolean if devise_mapping.rememberable? %>
      <center>
        <%= f.button :submit, "Let's go GreenR", class: "EdgeButton--primary" %>
      </center>
      <%= render "devise/shared/links" %>
    <% end %>
  </div>
</div>
