  
<div class="card-event">
  <% unless current_user.nil? %>
    <% if activity.favorites.find_by(user: current_user).nil? %>
      <i class="far fa-heart"></i>
    <% else %>
      <i class="fas fa-heart"></i>
    <% end %>
  <% end %>
  <%= cl_image_tag activity.photo, class: "event-pic" %>
  <div id="heart" data-heart="<%= activity.id %>">
    <%= render 'favorites/fav_card',activity: activity, favorite: activity.favorites.find_by(user: current_user) %>
  </div>
  <%= link_to activity_path(activity), class: "activity-link-show" do %>
    <div class="info-event">
      <h3 style="font-size: 12px"><strong>Du <%= activity.starting_date.strftime("%d-%m-%Y") %> au <%= activity.ending_date.strftime("%d-%m-%Y") %> </strong></h3>
      <h2><strong><%= activity.name %></strong></h2>
      <div>
        <p><%= activity.description %></p>
      </div>
    </div>
  <% end %>
</div>
