<div class="card-event">`
  <%= image_tag activity.photo, class: "event-pic" %>
  <div class="info-event">
    <h2 style="font-size: 20px;">Du <%= activity.starting_date %> au <%= activity.ending_date %> </h2>
    <h2><%= activity.name %></h2>
    <div>

    <p><%= activity.description %></p>
    </div>
  </div>
</div>
