
<div class="the_map">
<div
  id="map"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  >
    <%= image_tag "Truc_arrondi.png", id: "fond", class: "mapboxgl-ctrl-top-left" %>

    <%= image_tag "Logo3.png", id: "gros_logo", class: "mapboxgl-ctrl-top-left" %>
  </div>
  <div class='calculation-box'>
    <div> <%= image_tag "Event-n", class: "activity_filter", id: "Event" %></div>
    <div> <%= image_tag "Alimentation-n", class: "activity_filter", id: "Alimentation" %></div>
    <div> <%= image_tag "DIY-n", class: "activity_filter", id: "DIY" %></div>
    <div> <%= image_tag "Restaurant-n", class: "activity_filter", id: "Restaurant" %></div>
    <div> <%= image_tag "Shop-n", class: "activity_filter", id: "Shop" %></div>
    <div> <%= image_tag "Logo3-simple-plein", class: "activity_filter", id: "all" %></div>
  </div>

  <div class='sidebar'>
    <%= link_to new_activity_path do %> <i class="fas fa-plus-circle"></i> <% end %>
    <%= link_to event_activities_path do %> <i class="far fa-calendar"></i> <% end %>
    <%= link_to root_path(anchor: "values") do %> <i class="fas fa-info"></i> <% end %>

  </div>
</div>


<script>
  var allIcons = document.querySelectorAll('.activity_filter');

  allIcons.forEach( (icon) => {
    icon.addEventListener('click', function(event) {
      var elementSelect = document.querySelectorAll(`.marker.${event.target.id}`);
      var all = document.querySelectorAll('.marker');
          if (event.target.id === 'all') {
            all.forEach((element) => {
              element.style.visibility = 'visible'
            })
          } else {
            all.forEach((element) => {
              element.style.visibility = 'hidden'
            })
            elementSelect.forEach((element) => {
              element.style.visibility = 'visible'
            })
          }
    });
  });
</script>

