
<div class="the_map">
<div
  id="map"
  style="width: 100%;
  height: 100vh;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  >
    <%= image_tag "Truc_arrondi.png", id: "fond", class: "mapboxgl-ctrl-top-left" %>

    <%= image_tag "Logo3.png", id: "gros_logo", class: "mapboxgl-ctrl-top-left" %>
  </div>
  <div class='calculation-box'>
    <button> <%= image_tag "Event-n", class: "activity_filter", id: "Event" %></button>
    <button> <%= image_tag "Alimentation-n", class: "activity_filter", id: "Alimentation" %></button>
    <button> <%= image_tag "DIY-n", class: "activity_filter", id: "DIY" %></button>
    <button> <%= image_tag "Restaurant-n", class: "activity_filter", id: "Restaurant" %></button>
    <button> <%= image_tag "Shop-n", class: "activity_filter", id: "Shop" %></button>
    <button> <%= image_tag "Logo3-simple-plein", class: "activity_filter", id: "all" %></button>
  </div>
</div>

<script>
  var allIcons = document.querySelectorAll('.activity_filter');

  allIcons.forEach( (icon) => {
    icon.addEventListener('click', function(event) {
      var elementSelect = document.querySelectorAll(`.marker.${event.target.id}`);
      var all = document.querySelectorAll('.marker');
          if (event.target.id === 'all') {
            all.forEach((element) => {
              element.style.visibility = 'visible'
            })
          } else {
            all.forEach((element) => {
              element.style.visibility = 'hidden'
            })
            elementSelect.forEach((element) => {
              element.style.visibility = 'visible'
            })
          }
    });
  });
</script>

