<div class="event-pic-show">
  <%= cl_image_tag @activity.photo%>
</div>

<div class="container">
  <div class="event-txt-show">
    <h1><strong><%= @activity.name %></strong></h1>
    <div class="avg-rate-display">
      <% if @activity.starting_date.blank? == false %>
        <p>Du <%= @activity.starting_date.strftime("%d-%m-%Y") %> au <%= @activity.ending_date.strftime("%d-%m-%Y") %></p>
      <% end %>
    </div>
    <div class = "d-flex star-rating justify-content-between">
      <%= simple_form_for([@activity, @review], html: { class: "review_form" }) do |r| %>
        <%= r.input :rate, class: "shadow-sm p-3 mb-5 bg-white rounded", label: false, collection: [1, 2, 3, 4, 5 ] %>
        <%= r.button :submit, class: "d-none" %>
      <% end %>
      <% if @activity.reviews.count == 0 %>
        <p class="avg-rate-display"><strong>Aucun avis pour le moment</strong></p>
      <% elsif %>
        <p class="avg-rate-display"><strong><%= @activity.reviews.count %> avis</strong></p>
      <% end %>
      <% if @activity.reviews.blank? == false %>
        <p class="avg-rate-display"><strong><%= @activity.reviews.average(:rate).to_f.round(1) %><%= "/5" %></strong></p>
      <% elsif %>
        <p class="avg-rate-display"><strong><%= "-/5" %></strong></p>
      <% end %>
      <p class="avg-rate-display"><strong><%= @activity.reviews.count %> avis</strong></p>
    </div>
    <h2>Adresse: </h2>
    <p><i><%= @activity.street %>, <%= @activity.zipcode %>, <%= @activity.city %>.</i></p>
    <h2>Description:</h2>
    <p><%= @activity.description %></p>
  </div>
  <%= render 'message_box', activity: @activity %>
  <%= render 'messages_send_form', activity: @activity %>
</div>
