<div class="event-pic-show">
  <%= cl_image_tag @activity.photo%>
</div>

<%= javascript_pack_tag 'application' %>
<div class="shadow p-3 mb-5 bg-white rounded">
  <%= simple_form_for([@activity, @review], html: { class: "review_form" }) do |r| %>
    <%= r.input :rate, class: "shadow-sm p-3 mb-5 bg-white rounded", value: 'Donnez une note', collection: [1, 2, 3, 4, 5 ] %>
    <%= r.button :submit, class: "d-none" %>
  <% end %>
</div>
<div >
  <% @activity.reviews.each do |review| %>
    <%= review.rate  %></p>
<% end %>
</div>
</div>


<div class="container">
  <div class="event-txt-show">
    <h1><strong><%= @activity.name %></strong></h1>
    <p>lieu: <%= @activity.street %>, <%= @activity.city %>, <%= @activity.zipcode %></p>
    <% if @activity.starting_date.blank? == false %>
      <p>Du <%= @activity.starting_date.strftime("%d-%m-%Y") %> au <%= @activity.ending_date.strftime("%d-%m-%Y") %></p>
    <% end %>
    <h2><strong>description :</strong></h2>
    <p><%= @activity.description %></p>
  </div>
  <%= render 'message_box', activity: @activity %>
  <%= render 'messages_send_form', activity: @activity %>
</div>




