<div class="event-pic-show">
  <%= cl_image_tag @activity.photo%>
</div>
<div class="container">
  <div class="event-txt-show">
    <h1><strong><%= @activity.name %></strong></h1>
    <p>lieu: <%= @activity.street %>, <%= @activity.city %>, <%= @activity.zipcode %></p>
    <% if @activity.starting_date.blank? == false %>
      <p>Du <%= @activity.starting_date.strftime("%d-%m-%Y") %> au <%= @activity.ending_date.strftime("%d-%m-%Y") %></p>
    <% end %>
    <h2><strong>description :</strong></h2>
    <p><%= @activity.description %></p>
  </div>
  <div class="message-bloc overflow-auto">
    <% @messages.each do |message| %>
      <% if message.user_id != current_user[:id] %>
        <p><%= message.user.profile.first_name %></p>
        <p id="message"><%= message.content %></p>
      <% else %>

        <p class="text-mess"><%= message.user.profile.first_name %></p>
        <p class="text-mess" id="message-current-user"><%= message.content %></p>


      <% end  %>
    <% end %>
  </div>
  <div class="Form-message">
    <%= render "activities/components/form_messages", activity: @activity, message: @message %>
  </div>
</div>
